.Title{
 margin-top: 130px;
}

.Title .card{
    min-height: 400px;
    margin: auto;
    display: flex;
    align-items: center;
    transition: .6s;
    cursor: pointer;
}
.Title .card:hover{
    transform: scale(.94);
    opacity: .9;
}
.Title .text {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
}
.text p{
    color: rgb(149, 149, 149);
    font-size: 16px;
    width: 100%;
    margin-top: 40px;
}
.text p span{
    color: red;
}
.card2{
    margin-top: 0;
}
.carousel-control-prev-icon::after {
    content: "";
}
.carousel-control-next-icon::after {
    content: "";
}
